/*
* GLOBAL!
*/

body,html{
	min-width: 100%;
	min-height: : 100%;
	margin: 0;
	padding: 0;
	background: rgba(201,201,201,1);

}
a{
	text-decoration: none;
}
hr{
	border: 1px solid black;

}
textarea {
	resize: none;
}
input:valid {
	color: green;
}
input:invalid { 
	color: red;
}
/*
*	CLASSES
*/

/*
ADMINS
*/



/* 
Admin Table CSS
*/

.table-responsive{
	overflow: auto;
}

table thead tr:first-child{
	background: red;
}

table tfoot{
	text-align: center;
	font-weight: bold;
}
table thead tr:nth-child(2){
	display: none;
}

table,td,th{
	border:1px solid black;
	border-collapse:collapse;
	padding:2px;
}
th{
	background-color:lightgrey;
}
tr:nth-child(1) > th{
	cursor:n-resize;
}
input{
	height:24px;
	display:inline-block;
	padding:0px;
	margin:0px;
	text-align:center;
	padding:0px 4px;
}
.filtered{
	background-color:#FFCCCC;
}

.clear-filter{
	display: none;
}

/* Other
*/
.tooltip:hover::after {
	content: attr(data-tooltip);
}
.bg-black{
	background: rgba(0, 0, 0, 1.0)
}

.navbar a{
	color: rgba(0, 0, 0, 1.0)
}
.navbar{
	margin: 0;
	padding: 0;
	background: rgba( 0, 197, 205, 1);
}
.navbar li:hover{
	cursor: pointer;
	background: rgba( 0, 166, 188, 1);
	box-shadow:inset 0 0 5px rgba(0,0,0,1);
}
.navbar li li:first-child {
	border-top:1px solid rgba(0, 0, 0, 1.0);
}
.navbar li{
	padding: 15px 15px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	font-weight: bold;
	color: black;
	font-size: 22px;
	list-style: none;
	min-width: 100px;
}
.multi-nav-hide li{
	background: rgba( 0, 197, 205, 1);
	border-left:1px solid rgba(0,0,0,1);

}
.multi-nav-hide{
	display: none;
	position: absolute;
	margin-left: 160px;
	margin-top: -41px;

}
.multi-nav:hover .multi-nav-hide{
	display: block;
}

/*
GENERAL
*/
.text-cetner{
	text-align: center;
}
.clearfix{
	clear: both;
}
.pull-right{
	flaot: right: ;
}
.pull-left{
	flaot: left: ;
}
.container{
	width: 80%;
}
.container-fluid{
	width: 100%;

}

.row{
	margin: 0 ;
	padding: 0;
	width: 100%;
}

.col-12{
	width: 100%;
	float: left;
}
.col-11{
	width:91.6%;
	float: left;

}
.col-10{
	width: 83.3%;
	float: left;

}
.col-9{
	width: 75% ;
	float: left;

}
.col-8{
	width: 66.6%;
	float: left;

}
.col-7{
	width: 58.3%;
	float: left;

}
.col-6{
	width: 50%;
	float: left;

}
.col-5{
	width: 41.6%;
	float: left;

}
.col-4{
	width: 33.3%;
	float: left;

}
.col-3{
	width: 25%;
	float: left;

}
.col-2{
	width: 16.6%;
	float: left;

}
.col-1{
	width: 8.3%;
	float: left;

}

.btn:hover{
	cursor: pointer;

}
.btn-sm {
	padding: 3px 6px!important;

}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color:  rgba( 0, 0, 0, 1);
}
.btn-danger{
	background: rgba( 255, 0, 0, 1);
}
.btn-success{
	background: rgba( 34, 255, 0, 1);
}
.btn-primary{
	background: rgba( 0, 191, 255, 1);
}
.btn-paginate{
	background: rgba( 255, 255, 255, 1);
}

/*
* ID s 
*/
#login_form{
	display: none;
}
#register_form{
	display: none;
}
#admin-navigator{
	background: rgba(0,191,255, 1);
	padding: 11px 0;
	font-size: 20px;
	font-weight: ;
	border-bottom: 1px solid rgba(0,0,0,1);
}